
<%= render 'partials/navbar' %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="form-wrap"> 
  
<h2 style="text-align:center">Assignment Details</h2>
  
<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @assignment.due_date %>
</p>

 
<!-- Display due date -->


<p>
  <strong>Worth:</strong>
  <%= @assignment.worth %>
</p>


<p>
  <strong>Course:</strong>
  <%= @assignment.course.title %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back to All', assignments_path %> |
<%= link_to 'Back to Course', course_path %>


<br>
<br>

<h2>Results</h2>


<%= link_to 'New Result', new_result_path %>
<br>

<% @assignment.results.each do |result| %>
<p>
<hr>
<p>
  <strong>Student Name:</strong>
  <%= result.student_name %>
  <br>
  <strong>Result Percentage:</strong>
  <%= result.result_percentage %>
  <br>
   <td><%= link_to 'Show', result %></td>
   <td><%= link_to 'Edit', edit_result_path(result) %></td>
</p>
</p>

<% end %>

</div>