

<%= render 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<div class="form-wrap"> 
<h1>Editing Course</h1>

<%= render 'form' %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
</div>
