<%= render 'partials/navbar' %>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="form-wrap">

<h2 style="text-align:center">Course Details</h2>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Course type:</strong>
  <%= @course.course_type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course.duration %>
</p>

<p>
  <strong>Lecturer:</strong>
  <%= @course.profile.lastname  %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back to All', courses_path %>


<!-- Display the reviews of a movie -->

<br>
<br>

<h2>Assignments</h2>


<%= link_to 'New Assignment', new_assignment_path %>
<br>

<% @course.assignments.each do |assignment| %>
<p>
<hr>
<p>
  <strong>Name:</strong>
  <%= assignment.name %>
  <br>
  <strong>Worth:</strong>
  <%= assignment.worth %>
  <br>
   <td><%= link_to 'Show', assignment %></td>
   <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
</p>
</p>

<% end %>

</div>